<div class="w3-container" id="packages" style="margin-top:75px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Lista de deputados.</b></h1>
  <hr style="width:50px;border:5px solid #17a2b8" class="w3-round">
  <p>Lista de deputados da sua região, ordenados de maior gasto até menor gasto.</p>
</div>

<div class="w3-row-padding">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Partido</th>
      <th scope="col">UF</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @congresspeople.each do |congressperson| %>
      <tr>
        <th scope="row"><%= congressperson.ide_registration %></th>
        <td><%= congressperson.name %></td>
        <td><%= congressperson.cpf %></td>
        <td><%= congressperson.political_party %></td>
        <td><%= congressperson.sg_uf %></td>
        <td>
          <%= link_to general_congressperson_path(congressperson.id), class: 'btn btn-primary', style: 'background: #743dbf; border-color: #743dbf;' do %>
            Visualizar despesas
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

