<div class="w3-container" id="designers" style="margin-top:75px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Deputados.</b></h1>
  <hr style="width:50px;border:5px solid #17a2b8" class="w3-round">
  <p>Ranking dos deputados</p>
  <p></p>
  <%= form_for :congressperson, method: :get do |f| %>
    <div class="form-inline" style="padding-bottom: 10px">
      <div class="form-group">
        <%= f.collection_select(
              :year, years_to_select, :first, :first,
              { prompt: 'Ano', selected: params[:year].present? ? params[:year] : nil },
              { class: 'form-control input-sm', style: 'padding-top: 0; min-width: 170px', name: :year }
            ) %>
        <%= f.collection_select(
              :estado, ::Util::EstadosBrasileiros::ESTADOS.collect { |c| [c[1], c[0]] }, :first, :last,
              { prompt: 'Estado', selected: params[:estado].present? ? params[:estado] : nil },
              { class: 'form-control input-sm', id: 'estado-id',
                style: 'padding-top: 0; min-width: 170px; margin-left: 10px; margin-right: 10px',
                name: :estado }
            ) %>
      </div>

      <button class="btn btn-sm btn-default table-search" style="background: #743dbf; color: white; height: 35px;">
        <i class="fa fa-search" style="color: white"></i> Buscar
      </button>

      <% if params[:estado].present? || params[:year].present? %>
        <%= link_to 'Limpar', general_ranking_path, class: 'btn btn-sm btn-default table-search' %>
      <% end %>
    </div>
  <% end %>
  <p><b>Considerando do que gastou mais para o que gastou menos</b>:</p>
</div>

<div class="w3-row-padding w3-grayscale">
  <% @congresspeople.each.with_index do |rank, index| %>
    <div class="w3-col m4 w3-margin-bottom">
      <img src="<%= "http://www.camara.leg.br/internet/deputado/bandep/#{rank[0].ide_registration}.jpg" %>" alt="Deputado" style="width:30%; border-radius: 8px; margin-bottom: 10px">
      <div class="w3-light-grey" style="border-radius: 8px;">
        <div class="w3-container" style="background: #17a2b8; border-radius: 8px;">
          <h3 style="color: #ffffff; padding-top: 5px"><%= "#{rank[0].name}" %></h3>
          <p class="w3-opacity"><%= rank[0].political_party %></p>

          <p style="font-weight: bold; color: #6c00ff"><%= "#{number_to_currency(rank[1], unit: "R$")}" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
