<div class="w3-container" id="packages" style="margin-top:75px">
  <div style="padding-bottom: 20px">
    <%= link_to :back, class: 'btn btn-primary', style: 'background: #17a2b8; border-color: #17a2b8;' do %>
      <i class="fas fa-chevron-left"></i> Voltar
    <% end %>
  </div>
  <h1 class="w3-xxxlarge w3-text-red"><b>Lista de despesas.</b></h1>
  <hr style="width:50px;border:5px solid #17a2b8" class="w3-round">
  <p>Lista das despesas do deputado <b><%= @congressperson.name %></b>, ordenadas da maior despesa até menor:</p>
  <%= form_for :congressperson, method: :get do |f| %>
    <div class="form-inline" style="padding-bottom: 10px">
      <div class="form-group">
        <%= f.collection_select(
              :year, years_to_select, :first, :first,
              { prompt: 'Ano', selected: params[:year].present? ? params[:year] : nil },
              { class: 'form-control input-sm', style: 'padding-top: 0; min-width: 170px; margin-right: 10px', name: :year }
            ) %>
      </div>

      <button class="btn btn-sm btn-default table-search" style="background: #743dbf; color: white; height: 35px;">
        <i class="fa fa-search" style="color: white"></i> Buscar
      </button>

      <% if params[:year].present? %>
        <%= link_to 'Limpar', general_congressperson_path(id: params[:id]), class: 'btn btn-sm btn-default table-search' %>
      <% end %>
    </div>
  <% end %>
</div>

<div style="margin-bottom: 30px;">
  <canvas id="myChart"></canvas>
</div>

<div class="w3-row-padding">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Data da emissão</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor líquido</th>
      <th scope="col">URL do documento</th>
    </tr>
    </thead>
    <tbody>
    <% @spendings.each do |spent| %>
      <tr>
        <td><%= spent.emission_date&.strftime("%d/%m/%Y") %></td>
        <td><%= spent.txt_provider %></td>
        <td><%= number_to_currency(spent.net_value, unit: 'R$') %></td>
        <% if spent.url_document.present? %>
          <td><a target="_blank" href='<%= spent.url_document %>'><%= %>Ver documento</a></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: <%= @formated_spent.pluck(:txt_provider).to_json.html_safe %>,
            datasets: [{
                label: 'Despesas',
                data: <%= @formated_spent.pluck(:net_value).to_json.html_safe %>,
                backgroundColor: ['#17a2b8', '#743dbf', '#8e74b1', '#2a5961', '#6455de'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
